<div class="admin-clases-container">
  <h2>Administrar Clases</h2>
  <form id="formClase">
    <input type="hidden" id="claseId" />
    <input type="text" id="name" placeholder="Nombre" required />
    <input type="date" id="date" required />
    <input type="time" id="time" required />
    <input type="number" id="capacity" placeholder="Cupo" required />
    <button type="submit">Guardar Clase</button>
  </form>
  <ul id="admin-clase-list"></ul>
  <button id="logoutBtn">Cerrar sesión</button>
</div>

