<div class="home-container">
  <h2 id="welcome-msg">Bienvenido</h2>

  <div id="admin-options" style="display: none;">
    <p>Opciones de administrador:</p>
    <a href="#/dashboard">
      <button class="home-button">Gestionar productos</button></a>
  </div>

  <div id="user-options" style="display: none;">
    <p>Opciones de usuario:</p>
    <a href="#/clases">
      <button class="home-button">Ver productos Disponibles</button>
    </a>
  </div>

  <button id="logoutBtn" class="logout-btn">Cerrar sesión</button>
</div>