<div class="register-wrapper">
  <div class="register-left">
    <img src="/public/register.jpg" alt="login" />
  </div>
  <div class="register-right">
    <h2>Crear Cuenta</h2>
    <form id="registerForm">
      <input type="text" name="username" placeholder="Usuario" required />
      <input type="password" name="password" placeholder="Contraseña" required />
      <input type="text" name="name" placeholder="Nombre" required />
      <input type="text" name="lastname" placeholder="Apellido" required />
      
      <select name="role" required>
        <option value="" required>Seleccionar Rol </option>
        <option value="user" required>visitante</option>
      </select>

      <button type="submit">Registrar</button>
    </form>
  </div>
</div>